# LightGBM

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

df = pd.read_csv('TW2.csv')
df.head()

,ID_jugador,ranking_jugador,nombre,nacionalidad,idioma,genero,genero_bin,juego_1,juego_2,juego_3,...,tiempo_vistas,tiempo_transmision,max_vistas,ingresos_anuales,moneda,Height,Weight,Index,Unnamed: 16,Unnamed: 17
0,1,1,xQcOW,Estados Unidos,Ingles,M,0,Just Chatting,Among Us,Overwatch,...,7333609065,215670,222720,"$1,978,811.00",USD,210,86,3,NaN,NaN
1,2,2,Gaules,Brasil,Portugues,M,0,Counter-Strike: Global Offensive,Among Us,PLAYERUNKNOWN,...,6314532585,515595,387315,"$1,960,243.00",USD,180,98,3,NaN,NaN
2,3,3,summit1g,Estados Unidos,Ingles,M,0,Escape From Tarkov,Sea of Thieves,Grand Theft Auto V,...,6235007490,216000,310998,"$1,935,449.00",USD,170,45,1,NaN,NaN
3,4,4,ESL_CSGO,Canada,Ingles,M,0,Counter-Strike: Global Offensive,NaN,NaN,...,4764929775,517965,300575,"$1,927,346.00",USD,174,67,1,NaN,NaN
4,5,5,NICKMERCS,Estados Unidos,Ingles,M,0,Call Of Duty: Modern Warfare,Fortnite,Halo: The Master Chief Collection,...,3853252845,131880,163241,"$1,886,864.00",USD,209,109,4,NaN,NaN

In [2]:
#Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_jugador          8800 non-null   int64
 1   ranking_jugador     8800 non-null   int64
 2   nombre              8800 non-null   object
 3   nacionalidad        8800 non-null   object
 4   idioma              8800 non-null   object
 5   genero              8800 non-null   object
 6   genero_bin          8800 non-null   int64
 7   juego_1             8795 non-null   object
 8   juego_2             8390 non-null   object
 9   juego_3             8009 non-null   object
 10  seguidores          8800 non-null   int64
 11  tiempo_vistas       8800 non-null   int64
 12  tiempo_transmision  8800 non-null   int64
 13  max_vistas          8800 non-null   int64
 14  ingresos_anuales    8800 non-null   object
 15  moneda              8800 non-null   object
 16  Height              8800 non-null   int64
 17  Weight              8800 non-null   int64
 18  Index               8800 non-null   int64
 19  Unnamed: 16         0 non-null      float64
 20  Unnamed: 17         0 non-null      float64
dtypes: float64(2), int64(10), object(9)
memory usage: 1.4+ MB

In [3]:
datos = pd.DataFrame(df)

In [4]:
#Analizamos la variable target y su frecuencia
df['genero_bin'].value_counts()

0    8131
1     669
Name: genero_bin, dtype: int64

In [5]:
#Definimos X e y
X = df[['ID_jugador','ranking_jugador','tiempo_vistas','tiempo_transmision','max_vistas','Height','Weight','Index']]
y = df['genero_bin']

In [6]:
X

,ID_jugador,ranking_jugador,tiempo_vistas,tiempo_transmision,max_vistas,Height,Weight,Index
0,1,1,7333609065,215670,222720,210,86,3
1,2,2,6314532585,515595,387315,180,98,3
2,3,3,6235007490,216000,310998,170,45,1
3,4,4,4764929775,517965,300575,174,67,1
4,5,5,3853252845,131880,163241,209,109,4
...,...,...,...,...,...,...,...,...
8795,8796,8796,8830110,72495,2671,171,60,3
8796,8797,8797,8829870,96090,2039,197,75,3
8797,8798,8798,8829075,44400,1158,162,47,3
8798,8799,8799,8828805,126990,433,165,45,1
8799,8800,8800,8827995,165105,2270,191,105,4

In [7]:
y

0       0
1       0
2       0
3       0
4       0
       ..
8795    0
8796    0
8797    0
8798    0
8799    0
Name: genero_bin, Length: 8800, dtype: int64

In [8]:
#Separamos en Train y Test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [9]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\aandr\miniconda3\lib\site-packages (3.3.1)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: numpy in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: wheel in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (0.36.1)
Requirement already satisfied: scipy in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\aandr\miniconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aandr\miniconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: scipy in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: numpy in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: numpy in c:\users\aandr\miniconda3\lib\site-packages (from lightgbm) (1.20.1)

In [10]:
import lightgbm as lgb #pip install lightgbm
clf = lgb.LGBMClassifier()
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

In [11]:
#Accuracy
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_pred, y_test)
print('LightGBM Model accuracy score: {0:0.4f}'.format(accuracy_score(y_test, y_pred)))

LightGBM Model accuracy score: 0.9265

# Gradient Boosting

In [13]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

df2 = pd.read_csv('TW2.csv')
df2.head()

,ID_jugador,ranking_jugador,nombre,nacionalidad,idioma,genero,genero_bin,juego_1,juego_2,juego_3,...,tiempo_vistas,tiempo_transmision,max_vistas,ingresos_anuales,moneda,Height,Weight,Index,Unnamed: 16,Unnamed: 17
0,1,1,xQcOW,Estados Unidos,Ingles,M,0,Just Chatting,Among Us,Overwatch,...,7333609065,215670,222720,"$1,978,811.00",USD,210,86,3,NaN,NaN
1,2,2,Gaules,Brasil,Portugues,M,0,Counter-Strike: Global Offensive,Among Us,PLAYERUNKNOWN,...,6314532585,515595,387315,"$1,960,243.00",USD,180,98,3,NaN,NaN
2,3,3,summit1g,Estados Unidos,Ingles,M,0,Escape From Tarkov,Sea of Thieves,Grand Theft Auto V,...,6235007490,216000,310998,"$1,935,449.00",USD,170,45,1,NaN,NaN
3,4,4,ESL_CSGO,Canada,Ingles,M,0,Counter-Strike: Global Offensive,NaN,NaN,...,4764929775,517965,300575,"$1,927,346.00",USD,174,67,1,NaN,NaN
4,5,5,NICKMERCS,Estados Unidos,Ingles,M,0,Call Of Duty: Modern Warfare,Fortnite,Halo: The Master Chief Collection,...,3853252845,131880,163241,"$1,886,864.00",USD,209,109,4,NaN,NaN

In [14]:
#Info
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_jugador          8800 non-null   int64
 1   ranking_jugador     8800 non-null   int64
 2   nombre              8800 non-null   object
 3   nacionalidad        8800 non-null   object
 4   idioma              8800 non-null   object
 5   genero              8800 non-null   object
 6   genero_bin          8800 non-null   int64
 7   juego_1             8795 non-null   object
 8   juego_2             8390 non-null   object
 9   juego_3             8009 non-null   object
 10  seguidores          8800 non-null   int64
 11  tiempo_vistas       8800 non-null   int64
 12  tiempo_transmision  8800 non-null   int64
 13  max_vistas          8800 non-null   int64
 14  ingresos_anuales    8800 non-null   object
 15  moneda              8800 non-null   object
 16  Height              8800 non-null   int64
 17  Weight              8800 non-null   int64
 18  Index               8800 non-null   int64
 19  Unnamed: 16         0 non-null      float64
 20  Unnamed: 17         0 non-null      float64
dtypes: float64(2), int64(10), object(9)
memory usage: 1.4+ MB

In [18]:
#Definimos X e y
X = df2[['ID_jugador','ranking_jugador','tiempo_vistas','tiempo_transmision','max_vistas','Height','Weight','Index']]
Y = df2['genero_bin']

In [19]:
X

,ID_jugador,ranking_jugador,tiempo_vistas,tiempo_transmision,max_vistas,Height,Weight,Index
0,1,1,7333609065,215670,222720,210,86,3
1,2,2,6314532585,515595,387315,180,98,3
2,3,3,6235007490,216000,310998,170,45,1
3,4,4,4764929775,517965,300575,174,67,1
4,5,5,3853252845,131880,163241,209,109,4
...,...,...,...,...,...,...,...,...
8795,8796,8796,8830110,72495,2671,171,60,3
8796,8797,8797,8829870,96090,2039,197,75,3
8797,8798,8798,8829075,44400,1158,162,47,3
8798,8799,8799,8828805,126990,433,165,45,1
8799,8800,8800,8827995,165105,2270,191,105,4

In [20]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
8795    0
8796    0
8797    0
8798    0
8799    0
Name: genero_bin, Length: 8800, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [22]:
#Veamos un simple arbol de decision!
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
tree.score(X_test, y_test)

0.8459090909090909

In [23]:
#Ahora comparemos con GBM
from sklearn.ensemble import GradientBoostingClassifier
gbrt = GradientBoostingClassifier(random_state = 42)
gbrt.fit(X_train, y_train)
gbrt.score(X_test, y_test)

0.9290909090909091